@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* 배경 색상 */
  --color-background-dark: #121212;
  --color-background-panel: #1E1E1E;

  /* 텍스트 색상 */
  --color-text: #E0E0E0;

  /* 테두리 색상 */
  --color-border: #2A2A2A;

  /* 포인트 컬러 */
  --color-primary-50: #E3F2FD;
  --color-primary-100: #BBDEFB;
  --color-primary-200: #90CAF9;
  --color-primary-300: #64B5F6;
  --color-primary-400: #42A5F5;
  --color-primary-500: #2196F3;
  --color-primary-600: #1E88E5;
  --color-primary-700: #1976D2;
  --color-primary-800: #1565C0;
  --color-primary-900: #0D47A1;

  /* 서브 포인트 컬러 */
  --color-accent-50: #E8F5E9;
  --color-accent-100: #C8E6C9;
  --color-accent-200: #A5D6A7;
  --color-accent-300: #81C784;
  --color-accent-400: #66BB6A;
  --color-accent-500: #4CAF50;
  --color-accent-600: #43A047;
  --color-accent-700: #388E3C;
  --color-accent-800: #2E7D32;
  --color-accent-900: #1B5E20;
}

@source "../node_modules/flowbite-svelte/dist";
